<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MuitChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E569F991C1C615400EEFEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E569FB21C1C615500EEFEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E569FBD1C1C615500EEFEC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
